<div class="card poly-cart">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <img src="image/shoppingcart.gif" alt="" width="70">
            </div>
            <div class="col-sm-7">
                <ul>
                    <li> Giỏ hàng</li>
                    <li>$$$</li>
                    <li> <a href="giohang.html">VIEW CART</a></li>
                </ul>

            </div>
        </div>
        <div class="card poly-cart">
            <div class="card-body">
                <div class="row">
                    <form class="d-flex" role="search">
                        <input type="search" class="form-control" placeholder="Nhập tên nước hoa"
                        aria-label="Search" ng-model="timkiem"
                            style="width: 90%;">
                        <!-- <button type="submit" class="btn btn-outline-dark bg-dark btn-border text-white"
                        ng-click="search()">
                        <a href="#" style="color:white;">
                            <i class="fa-solid fa-magnifying-glass">search</i></a>
                    </button>     -->
                    </form>
                </div>
            </div>
        </div>
        <div class="card poly-card" data-toggle="collapse" href="#chungloai">
            <div class="card-header" style="cursor: pointer;">
                <span class="glyphicon glyphicon-list"></span> Chủng loại
            </div>
            <ul class="list-group list-group-flush card-collapse " id="chungloai">
                <li class="list-group-item ">Nước hoa nam <span class="badge badge-secondary">120</span>
                </li>
                <li class="list-group-item ">Nước hoa nữ <span class="badge badge-secondary">50</span>
                </li>
                <li class="list-group-item ">Body mist <span class="badge badge-secondary">300</span>
                </li>
                <li class="list-group-item ">Nước hoa chiết <span
                        class="badge badge-secondary">90</span></li>
                <li class="list-group-item ">Nước hoa chấm <span class="badge badge-secondary">20</span>
                </li>
                <li class="list-group-item ">Nước hoa lăn <span class="badge badge-secondary">8</span>
                </li>
            </ul>
        </div>
        <div class="card poly-card" data-toggle="collapse" href="#ncc">
            <div class="card-header" style="cursor: pointer;">
                <span class="glyphicon glyphicon-list-alt"></span> Nhà cung cấp
            </div>
            <ul class="list-group list-group-flush card-collapse" id="ncc">
                <li class="list-group-item ">Dior</li>
                <li class="list-group-item ">Diamon</li>
                <li class="list-group-item ">Vescare</li>

            </ul>
        </div>
        <div class="card poly-card" data-toggle="collapse" href="#hdb">
            <div class="card-header" style="cursor: pointer;">
                <span class="glyphicon glyphicon-star"></span> Hàng đặc biệt
            </div>
            <ul class="list-group list-group-flush card-collapse" id="hdb">
                <li class="list-group-item ">Hàng mới</li>
                <li class="list-group-item ">Bán chạy</li>
                <li class="list-group-item ">Giảm giá</li>
                <li class="list-group-item ">Đặc biệt</li>

            </ul>
        </div>